

h1{
    text-align: center;
    font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;

}
.container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    
    
}
.title{
    color: black;
    
  
}
p{
    color: white;
}

.container:hover{
    cursor: pointer;
}

.container div{

    margin: 20px;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    flex-basis: 20%;

}


body{
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
} 